<tr>
  <td>
    <% if can? :manage, :all %>
      <% if !@team.start_date.nil? && @player.state < 2 %>
        <i class="fa fa-group" style="margin-right:5px;color:#3498db;" data-toggle="tooltip" title="Placement en attente"></i>
      <% end %>
    <% end %>
    <%= link_to @account.name, user_preview_user_path(@player), method: :get, remote: true %>
  </td>
  <td><span class="label label-default"><%= @teaming.role[0...3] %></span></td>
  <%if @team.game.has_soloq %>
    <td class="table-rank"><%= render 'users/rank' %></td>
  <%end%>

  <%if @team.game.has_teamq %>
    <td class="table-rank"><%= render 'users/rank_flex' %></td>
  <%end%>
</tr>
