<ul>
	<li><a href="#" class="link">Guide : Alistar</a></li>
	<li><a href="#" class="link">Les résultats du Giveaway du 15/08</a></li>
	<li><a href="#" class="link">Comment farm comme un challenger</a></li>	
</ul>
<a href="#">Voir plus...</a>