<h3><i class="fa fa-heart"></i> <%=t 'home.donators' %> <i class="fa fa-heart"></i></h3>
<p style="margin:25px;"><%=t 'home.donators_subtitle' %></p>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="margin:0 auto;">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td><h4>300€</h4></td>
          <td>Pohu</td>
        </tr>
        <tr>
          <td><h4>30€</h4></td>
          <td>Abs NoLimiT</td>
        </tr>
        <tr>
          <td><h4>20€</h4></td>
          <td>Phenrig</td>
        </tr>
        <tr>
          <td><h4>20€</h4></td>
          <td>TwiiTeK</td>
        </tr>
        <tr>
          <td><h4>12€</h4></td>
          <td>Fun Fight n Fire</td>
        </tr>
        <tr>
          <td><h4>10€</h4></td>
          <td>BasseTiens</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3"></div>
</div>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=J96K2C8RD2EFW" class="btn btn-primary"><%=t 'home.donation' %></a>
