<style type="text/css">

	.image{

		min-width: 375px;
		min-height: 225px;
		margin: 10px;
		border-radius: 4px;

	}

</style>

<section class="container" style="display: flex; flex-wrap: wrap;">

<!--
<div class="image"><%= link_to image_tag("ourTeam.jpg", :size => "375x225"), our_team_path %></div>
<div class="image"><%= link_to image_tag("ourPartners.jpg", :size => "375x225"), our_partners_path %></div>
<div class="image"><%= link_to image_tag("ourStreamers.jpg", :size => "375x225"), our_streamers_path %></div>
<div class="image"><%= link_to image_tag("joinUs.jpg", :size => "375x225"), join_us_path %></div>
-->

<div class="panel panel-default">
	<div class="panel-body">
		<p>Vous vous trouver actuellement sur la version alpha de la nouvelle plateforme Arena Esport. Il est donc tout à fait possible que vous rencontriez des bugs, et seules un nombre limité de fonctionalités sont déjà implémentées. Si vous rencontrez le moindre problème, ou que vous avez la moindre idée d'amélioration, merci de contacter <a href="#">enzo@arena-esport.com</a> / <b>[Staff] Enzo</b> sur <a href="https://discord.gg/JvvHnvr">Discord </a>.</p>
	</div>
</div>

</section>
