<style type="text/css">
  h1, h2, h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
  }
</style>

<section class="container">
<!-- End User License Agreement -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Mentions légales</h2>
    </div>
    <div class="panel-body">
      <p>Les dispositions suivantes ont pour objet de pr&eacute;ciser les mentions l&eacute;gales du site ARENA ESPORT dont la page d'accueil se trouve l'adresse URL suivante : <a href="http://arena-esport.com">http://arena-esport.com</a>.</p>
      <h3>ARTICLE 1. Informations l&eacute;gales</h3>
      <p>Le site ARENA ESPORT est &eacute;dit&eacute; par ARENA ESPORT,&nbsp;Ci-apr&egrave;s l'EDITEUR<br />SAS au capital de 10euros<br />RCS Saint-Brieuc 819 928 086 (2016 B 348)<br />N&deg; TVA intracommunautaire :&nbsp;FR 70 819928086<br />APE : 6201Z &ndash; Programmation informatique<br />Si&egrave;ge social : Impasse du goulet d'en bas, 22940 SAINT-JULIEN.<br />Directeur de publication : Mr Enzo LEROY&nbsp;<br />Adresse e-mail de contact : contact[at]arena-esport.com</p>
      <p>Les UTILISATEURS sont toutes les personnes internautes qui naviguent, lisent, visionnent et utilisent le site ARENA ESPORT.</p>
      <h3 style="margin-top: 25px;">ARTICLE 2. H&Eacute;BERGEMENT</h3>
      <p>Le Site est h&eacute;berg&eacute; par <a href="https://www.ovh.com/fr/" target="_blank">OVH</a>.</p>
      <h3>ARTICLE 3. Collecte de donn&eacute;es et respect de la Loi Informatique et Libert&eacute;</h3>
      <p>En France, les donn&eacute;es personnelles sont notamment prot&eacute;g&eacute;es par la loi n&deg; 78-87 du 6 janvier 1978, la loi n&deg; 2004-801 du 6 ao&ucirc;t 2004, l'article L. 226-13 du Code p&eacute;nal et la Directive Europ&eacute;enne du 24 octobre 1995.&nbsp;A l'occasion de l'utilisation du site&nbsp;ARENA ESPORT, sont notamment recueillies les donn&eacute;es suivantes :</p>
      <ul>
      <li>l'adresse internet URL des liens par l'interm&eacute;diaire duquel l'Utilisateur a acc&eacute;d&eacute; au site ARENA ESPORT</li>
      <li><a href="http://arena-esport.com"></a>le fournisseur d'acc&egrave;s de l'Utilisateur.</li>
      <li>l'adresse de protocole internet (IP) de l'Utilisateur.</li>
      </ul>
      <p>En tout &eacute;tat de cause ARENA ESPORT&nbsp;ne collecte des informations personnelles relatives &agrave; l'Utilisateur (nom, adresse &eacute;lectronique, coordonn&eacute;es t&eacute;l&eacute;phoniques) que pour le besoin des services propos&eacute;s par le site ARENA ESPORT. L'Utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il proc&egrave;de par lui-m&ecirc;me &agrave; leur saisie.&nbsp;Il est alors pr&eacute;cis&eacute; &agrave; l'utilisateur du site ARENA ESPORT&nbsp;le caract&egrave;re obligatoire ou non des informations qu'il serait amen&eacute; &agrave; fournir.</p>
      <p>L'Utilisateur justifiant de son identit&eacute; dispose de la possibilit&eacute; de solliciter aupr&egrave;s de ARENA ESPORT, &agrave; l'adresse &eacute;lectronique contact(at)arena-esport.com :</p>
      <ul>
      <li>la v&eacute;rification des donn&eacute;es &agrave; caract&egrave;re personnel le concernant ayant fait l'objet d'une collecte par ARENA ESPORT&nbsp;ou pour son compte.</li>
      <li>les informations ayant trait aux finalit&eacute;s de traitement de ces donn&eacute;es.</li>
      <li>les informations ayant trait &agrave; l'identit&eacute; et au rattachement g&eacute;ographique des destinataires de ces donn&eacute;es.</li>
      <li>la communication d'une copie de ces donn&eacute;es d&eacute;livr&eacute;e gratuitement, dans la mesure o&ugrave; une telle demande n'est pas abusive, notamment par son caract&egrave;re r&eacute;p&eacute;titif et disproportionn&eacute;.</li>
      </ul>
      <p>Aucune information personnelle de l'Utilisateur du site ARENA ESPORT n'est :</p>
      <ul>
      <li>collect&eacute;e &agrave; l'insu de l'Utilisateur.</li>
      <li>publi&eacute;e &agrave; l'insu de l'Utilisateur.</li>
      <li>&eacute;chang&eacute;e, transf&eacute;r&eacute;e, c&eacute;d&eacute;e ou vendue sur un support quelconque &agrave; des tiers, sauf en cas de r&eacute;quisition l&eacute;gale.</li>
      </ul>
      <p>Seule l'hypoth&egrave;se du rachat de ARENA ESPORT&nbsp;ou de ses droits permettrait la transmission des dites informations &agrave; l'&eacute;ventuel acqu&eacute;reur qui serait &agrave; son tour tenu de la m&ecirc;me obligation de conservation et de modification des donn&eacute;es vis &agrave; vis de l'Utilisateur du site ARENA ESPORT.</p>
      <p>Au demeurant, ARENA ESPORT&nbsp;est autoris&eacute; &agrave; effectuer des &eacute;tudes et analyses statistiques sur l'Utilisation et la typologie des Utilisateurs du site ARENA ESPORT, sous r&eacute;serve de confirmer l'anonymat de ces derniers.</p>
      <p><strong><span style="text-decoration: underline;">D&eacute;claration CNIL :</span></strong></p>
      <p>Le site ARENA ESPORT collectant des informations personnelles de ses Utilisateurs, a fait l'objet d'une d&eacute;claration pr&eacute;alable aupr&egrave;s de la CNIL,<br />enregistr&eacute;e sous le num&eacute;ro de r&eacute;c&eacute;piss&eacute; : 1955415 v 0.</p>
      <p><strong><span style="text-decoration: underline;">Cookies :</span></strong></p>
      <p>Un &laquo;Cookie&raquo; permet l'identification de l'Utilisateur, la personnalisation de sa consultation du site ARENA ESPORT et l'acc&eacute;l&eacute;ration de la mise en page du site gr&acirc;ce &agrave; l'enregistrement d'un l&eacute;ger fichier de donn&eacute;es sur son ordinateur.<br />L'Utilisateur reconna&icirc;t &ecirc;tre inform&eacute; de cette pratique et autorise ARENA ESPORT &agrave; y proc&eacute;der.<br />En tout &eacute;tat de cause ARENA ESPORT s'engage &agrave; ne jamais communiquer le contenu de ces &laquo;Cookies&raquo; &agrave; des tierces personnes, sauf en cas de r&eacute;quisition l&eacute;gale.<br />L'Utilisateur peut refuser l'enregistrement de &laquo;Cookies&raquo; ou configurer son navigateur pour &ecirc;tre pr&eacute;venu pr&eacute;alablement &agrave; l'acception des &laquo;Cookies&raquo;.</p>
      <h3>ARTICLE 4. Loi applicable et clause attributive de juridiction</h3>
      <p>Les pr&eacute;sentes Mentions L&eacute;gales sont soumises &agrave; la loi fran&ccedil;aise et &agrave; la comp&eacute;tence des tribunaux de SAINT-BRIEUC sous r&eacute;serve d'une attribution de comp&eacute;tence sp&eacute;cifique d'ordre public d&eacute;coulant du droit fran&ccedil;ais.</p>
      <h3>ARTICLE 5. Contact</h3>
      <p>Pour tout signalement de contenu ou d'activit&eacute;s illicites, l'UTILISATEUR peut laisser un message &agrave; l'adresse suivante : contact[at]arena-esport.com ou par courrier recommand&eacute; avec accus&eacute; de r&eacute;ception adress&eacute; &agrave; l'EDITEUR aux coordonn&eacute;es pr&eacute;cis&eacute;es en 1.&nbsp;</p>
    </div>
  </div>
</section>
