<% if @team.members.where(state:2).count < @team.game.nb_players-1 %>
  <p><%=raw t 'teams.mentoring1', nb: @team.game.nb_players-1 %></p>
<% else %>
  <p><%=raw t 'teams.mentoring2', link: link_to(t('mentors.list'), mentors_path) %></p>
<% end %>
