<table style="width:100%;">
  <tbody>
    <tr>
      <td style="width:20%;">
        <img src="https://image.noelshack.com/fichiers/2017/24/2/1497348141-ares.gif" height="80" width="80" style="border-radius:50px;">
      </td>
      <td style="width:80%;"><p><%=raw t 'mails.signature' %></p></td>
    </tr>
  </tbody>
</table>
